In [3]:
#install kaggle library
!pip install kaggle

Defaulting to user installation because normal site-packages is not writeable
Collecting kaggle
  Downloading kaggle-1.6.17.tar.gz (82 kB)
     ---------------------------------------- 0.0/82.7 kB ? eta -:--:--
     --------- ---------------------------- 20.5/82.7 kB 330.3 kB/s eta 0:00:01
     ------------------ ------------------- 41.0/82.7 kB 487.6 kB/s eta 0:00:01
     -------------------------------------- 82.7/82.7 kB 658.7 kB/s eta 0:00:00
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Requirement already satisfied: six>=1.10 in c:\users\arjun\appdata\roaming\python\python312\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi>=2023.7.22 in c:\users\arjun\appdata\roaming\python\python312\site-packages (from kaggle) (2024.7.4)
Requirement already satisfied: python-dateutil in c:\users\arjun\appdata\roaming\python\python312\site-packages (from kaggle) (2.9.0.post0)
Requirement already satisfied: requests in c:\users\arjun\appdata\roaming\python\python312\site-packages (from kaggle) (2.32.3)
Collecting tqdm (from kaggle)
  Downloading tqdm-4.66.5-py3-none-any.whl.metadata (57 kB)
     ---------------------------------------- 0.0/57.6 kB ? eta -:--:--
     ---------------------------------------- 57.6/57.6 kB 3.2 MB/s eta 0:00:00
Collecting python-slugify (from kaggle)
  Downloading python_slugify-8.0.4-py2.py3-none-any.whl.metadata (8.5 kB)
Requirement already satisfied: urllib3 in c:\users\arjun\appdata\roaming\python\python312\site-packages (from kaggle) (2.2.2)
Collecting bleach (from kaggle)
  Using cached bleach-6.1.0-py3-none-any.whl.metadata (30 kB)
Collecting webencodings (from bleach->kaggle)
  Using cached webencodings-0.5.1-py2.py3-none-any.whl.metadata (2.1 kB)
Collecting text-unidecode>=1.3 (from python-slugify->kaggle)
  Downloading text_unidecode-1.3-py2.py3-none-any.whl.metadata (2.4 kB)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\arjun\appdata\roaming\python\python312\site-packages (from requests->kaggle) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\arjun\appdata\roaming\python\python312\site-packages (from requests->kaggle) (3.7)
Requirement already satisfied: colorama in c:\users\arjun\appdata\roaming\python\python312\site-packages (from tqdm->kaggle) (0.4.6)
Using cached bleach-6.1.0-py3-none-any.whl (162 kB)
Downloading python_slugify-8.0.4-py2.py3-none-any.whl (10 kB)
Downloading tqdm-4.66.5-py3-none-any.whl (78 kB)
   ---------------------------------------- 0.0/78.4 kB ? eta -:--:--
   ---------------------------------------- 78.4/78.4 kB ? eta 0:00:00
Downloading text_unidecode-1.3-py2.py3-none-any.whl (78 kB)
   ---------------------------------------- 0.0/78.2 kB ? eta -:--:--
   ---------------------------------------- 78.2/78.2 kB ? eta 0:00:00
Using cached webencodings-0.5.1-py2.py3-none-any.whl (11 kB)
Building wheels for collected packages: kaggle
  Building wheel for kaggle (pyproject.toml): started
  Building wheel for kaggle (pyproject.toml): finished with status 'done'
  Created wheel for kaggle: filename=kaggle-1.6.17-py3-none-any.whl size=105796 sha256=0f19766bbcfa82c189c5498d38963c2af2c3d162116afee5775c5d559a97831d
  Stored in directory: c:\users\arjun\appdata\local\pip\cache\wheels\46\d2\26\84d0a1acdb9c6baccf7d28cf06962ec80529fe1ad938489983
Successfully built kaggle
Installing collected packages: webencodings, text-unidecode, tqdm, python-slugify, bleach, kaggle
Successfully installed bleach-6.1.0 kaggle-1.6.17 python-slugify-8.0.4 text-unidecode-1.3 tqdm-4.66.5 webencodings-0.5.1

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
!kaggle datasets download arjunkrizz/retail-orders -f orders.csv

Dataset URL: https://www.kaggle.com/datasets/arjunkrizz/retail-orders
License(s): unknown
Downloading orders.csv to d:\axis_code\ETL_Project\Retail-Product-Data-Analysis-ETL

  0%|          | 0.00/1.29M [00:00<?, ?B/s]
 78%|███████▊  | 1.00M/1.29M [00:01<00:00, 557kB/s]
100%|██████████| 1.29M/1.29M [00:01<00:00, 682kB/s]

In [13]:
#Reading the file
import pandas as pd 
df=pd.read_csv('orders.csv',na_values=['Not Availabe','unknown'])

In [14]:
df['Ship Mode'].unique()

array(['Second Class', 'Standard Class', 'Not Available', nan,
       'First Class', 'Same Day'], dtype=object)

In [20]:
df.head(10)

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5
5,6,2022-03-13,Not Available,Consumer,United States,Los Angeles,California,90032,West,Furniture,Furnishings,FUR-FU-10001487,50,50,7,3
6,7,2022-12-28,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Art,OFF-AR-10002833,10,10,4,3
7,8,2022-01-25,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Technology,Phones,TEC-PH-10002275,860,910,6,5
8,9,2023-03-23,Not Available,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Binders,OFF-BI-10003910,20,20,3,2
9,10,2023-05-16,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Appliances,OFF-AP-10002892,90,110,5,3

In [15]:
# displaying all columns and renaming it
df.columns

Index(['Order Id', 'Order Date', 'Ship Mode', 'Segment', 'Country', 'City',
       'State', 'Postal Code', 'Region', 'Category', 'Sub Category',
       'Product Id', 'cost price', 'List Price', 'Quantity',
       'Discount Percent'],
      dtype='object')

In [18]:
df.columns=df.columns.str.replace(' ','_').str.lower()
df.columns

Index(['order_id', 'order_date', 'ship_mode', 'segment', 'country', 'city',
       'state', 'postal_code', 'region', 'category', 'sub_category',
       'product_id', 'cost_price', 'list_price', 'quantity',
       'discount_percent'],
      dtype='object')

In [19]:
#Checking the null values present in all columns
df.isna().sum()

order_id            0
order_date          0
ship_mode           2
segment             0
country             0
city                0
state               0
postal_code         0
region              0
category            0
sub_category        0
product_id          0
cost_price          0
list_price          0
quantity            0
discount_percent    0
dtype: int64

In [22]:
#dropping null values
df.dropna(inplace=True)

In [24]:
#displaying the summary of data 
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9992 entries, 0 to 9993
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_id          9992 non-null   int64
 1   order_date        9992 non-null   object
 2   ship_mode         9992 non-null   object
 3   segment           9992 non-null   object
 4   country           9992 non-null   object
 5   city              9992 non-null   object
 6   state             9992 non-null   object
 7   postal_code       9992 non-null   int64
 8   region            9992 non-null   object
 9   category          9992 non-null   object
 10  sub_category      9992 non-null   object
 11  product_id        9992 non-null   object
 12  cost_price        9992 non-null   int64
 13  list_price        9992 non-null   int64
 14  quantity          9992 non-null   int64
 15  discount_percent  9992 non-null   int64
dtypes: int64(6), object(10)
memory usage: 1.3+ MB

In [27]:
#converting order_date to datetime object

df['order_date']=pd.to_datetime(df['order_date'],format="%Y-%m-%d")

In [25]:
#deriving new colum for discounted price,sales price , profit
df['discount']=df['list_price']*df['discount_percent']*.01
df['sale_price']= df['list_price']-df['discount']
df['profit']=df['sale_price']-df['cost_price']

In [29]:
df.columns

Index(['order_id', 'order_date', 'ship_mode', 'segment', 'country', 'city',
       'state', 'postal_code', 'region', 'category', 'sub_category',
       'product_id', 'cost_price', 'list_price', 'quantity',
       'discount_percent', 'discount', 'sale_price', 'profit'],
      dtype='object')

In [30]:
#Dropping unwanted columns

df.drop(columns=['list_price','cost_price','discount_percent'],inplace=True)

In [37]:
#connecting to sql server 
import sqlalchemy as sqa
engine = sqa.create_engine('mysql+pymysql://root:password@localhost:****/etl')
conn = engine.connect()

In [40]:
df.to_sql(name='tb_orders',con=conn,index=False,if_exists='replace')

9992